html {
	background-color: rgb(0, 43, 137);
}


/* Styles for the MENU */

h1, ul li a {
	color: rgb(217, 222, 234);
}

ul {
	padding: 0;
	margin: 0 2em;
}

ul li {
	padding: 2em;
	display: inline;
}


/* Styles for the DATA table */

table {
	margin: 1em 2em;
	padding: 1em 1em;
	border: 2px solid rgb(255, 191, 39);
	border-radius: 1em;
	background-color: rgb(217, 222, 234);
}

tbody tr:nth-child(even) {
	background: rgb(175, 186, 211);
}

tbody tr:hover {
	background: yellow !important; /* important to override nth-child striping. */
}

th, td {
	border-top: 1px solid black;
	width: 17ex;
	text-align: left;
}

.key {
	width: 7ex;
}

.lastname, .firstname {
	width: 27ex;
}

input.keyid {
	width: 11ex;
}

tr.insert, tr.insert input {
	text-decoration: underline;
}

tr.update, tr.update input {
	text-decoration: line-through;
}


/* Styles for forms */

form {
	background-color: rgb(217, 222, 234);
	border: 2px solid rgb(255, 191, 39);
	border-radius: 1em;
	display: inline-block; /*only as wide as necessary*/
}

form div + div {
	margin-top: 1em;
}

label {
	display: inline-block;
	text-align: right;
}

div.buttons {
	text-align: right;
}

input {
	width: 17em;
}


/* Styles for the LOGIN form */

form#loginForm {
	margin: 1em 10%;
	padding: 1em 4em;
}

form#loginForm label {
	width: 17ex;
}

div.buttons {
	text-align: right;
}


/* Styles for the SEARCH form */

form#searchForm {
	margin: 1em 2em;
	padding: 1em 1em;
}

form#searchForm label {
	width: 6ex;
}

/* Styles for the LOGIN form */

p#brag a {
	margin-right: 2ex;
	color: white;
	background-color: rgb(40, 167, 69);
	display: inline-block;
	padding: .25em .4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p#brag { 
	text-align: right;
	position: fixed;
	bottom: 0%;
	width: 100%;
}
